html,body{
	height:100%;
}
*{
	margin:0;
	padding:0;
	outline:0;
}
body{
	background-image:url(images/background.jpg);
	background-size:cover;
	background-attachment:fixed;
}
#wrapper{
	min-height:100%;
	position:relative;	
}
.col-md-6{
	padding:0px;
	width: 58%;
}
.col-md-4 {
    margin-left:20px;
    width: 26.333%;
	padding:0px;
}
.col-md-2 {
    width: 13.667%;
}
.templete_section{
	margin-left:200px;
	padding-bottom:70px;
}

.templete_popular{
	padding-left:-10px;
	margin-top:5px;
}

.jumbotron{
	margin-top:-20px;
	overflow:hidden;
	padding-bottom: 30px;
    padding-top: 0px;
	width:100%;
	
}
.anti_jumbotron{
	margin-bottom:-4px;
}
.search {
    float: left;
    margin: 50px 130px 0;
    width: 500px;
}
.topic{
	margin-top:20px;
	width:450px;
	font-size:16px;
}
.topic ul{}
.topic ul li{
	margin-left:5px;
}
.topic ul li a{}
.btn-style{
	background:orange;
	width:70px;	
}
#sidebar{
	position:absolute;
	
	width:200px;
	background:#111;
	left:-200px;
	transition:left 500ms linear;
	margin-top:-30px;
	}
		#sidebar.active{
			left:0px;
			position:absolute;
		}
		
		#sidebar>.list>.item{
			color:white;
			padding:10px 8px;
			border-bottom:1px solid #444;
			font-family:sans-serif;
			text-transform:uppercase;
		}
		#toggle-btn{
			position:absolute;
			left:10px;		
			
		}
		#toggle-btn span{
			width:30px;
			height:5px;
			background:#111;
			display:block;
			margin:4px 0px;
			cursor:pointer;
			
			
		}
.post{
	background:#F7F1F3;
	margin-top:-10px;
}
.post_heading{
	background:white;
	border:1px solid #E3E3E3;
	margin:15px 0px;
	
}
.post_heading .post_date{
	padding:20px;
	text-align:center;
}
.post_heading .post_date .day{
	font-size:30px;
	color:#24A7CF;
}
.post_heading .post_date .year{
	font-weight:100;
}
.post_heading .post_title{
	padding:5px;
	padding-left:20px;
}
.post_heading .post_title span{
	color:#24A7CF;
	font-weight:100;
	
}
.post_heading .writer_photo{
	margin-top:30px;
	
}
.post_heading .writer_photo img{
	width:70px;
}
.single_post {
    background: white none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 2px blue;
    color: black;
    padding: 20px 6px;
}
.single_post img{
	background:#fff none repeat scroll 0 0;
	border:1px solid #9b999a;
	float:left;
	margin-right:10px;
	margin-left: 35px;
	padding:5px;
	width:200px;
}
.single_post p{
	font-size:16px;
	line-height:23px;
	text-align:justify;
	margin-bottom:20px;
	margin-left: 30px;
    margin-right: 30px;
	
}
.single_post a{
	text-decoration:none;
	
	font-weight:bold;
}
.single_post a:hover{
	color:lime;
}
section .widgets{
	
	margin-bottom:20px;
}		
.popular{
	background:white;
	padding:20px;
	border-radius:10px;
}
.popular .details{
	margin-left:-20px;
}
.popular img{
	width:100%;
	margin-top:10px;
	border:2px solid black;
	
}
.social{
	position:fixed;
	right:40px;
	margin-top:30px;
}
.social img{
	width:50px;
	margin-bottom:20px;
}
nav#pagination{
	text-align:center;
}
.pagination>li>a{
	padding:15px 25px;
}
.pagination .active a{
	background-color: #2f2d2e;
}
footer{
	background:#2F2D2E;
	color:white;
	height:50px;
	line-height:50px;
	bottom:0;
	width:100%;
	position:relative;
}
.contact{
	background:white;
	padding:40px;
	border-radius:10px;
}
.anti_dropdown_style{
	padding:0 0;
}
#menu_style{
	margin-top:-30px;
	float:left;
	
}
#menu_style .btn{
	background:brown;
	color:white;
}
#menu_style ul{
	background:#4C4C4C;	
	text-align:center;
	width:200px;
	font-size:16px;
	font-family: "Avant Garde",  "Century Gothic",  "AppleGothic";
	font-weight: normal;
}
#menu_style ul a{
	text-decoration:none;
	color:white;
}
#menu_style ul a li{
	padding:20px;
	border-bottom:1px solid red;
}

#menu_style ul li:hover{
	background:#0099DC;
	color:black;
}