html,body{
	height:100%;
}
*{
	margin:0;
	padding:0;
	outline:0;
}

.navbar{
	border-bottom:6px solid gray;
	background:#2F2D2E;
}
.navbar-logo img{
	width:100px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
.navbar-header{
	
}
.navbar-header h3{
	
	font-size:40px;
}
.navbar-header h3 a{
	text-decoration:none;
	margin-left:20px;
	color:white;
}
.navbar-header p{
	color:red;
	margin-left:20px;
	width:300px;
}
.user{
	font-size:15px;
	margin-top:15px;
}
.jumbotron{
	margin-top:-20px;
	overflow:hidden;
	padding-bottom: 35px;
    padding-top: 35px;
	border-bottom:6px solid gray;
}

#sidebar{
position:relative;	
float:left;
	width:250px;
	background:orange;
	display:block;
	margin-top:-30px;
	}
#sidebar ul a{
	
	text-decoration:none;
}
#sidebar ul a li{
	padding:20px;
	border-bottom:2px solid gray;
	font-size:20px;
	
}
#sidebar ul a li#dashboard {
    background: black none repeat scroll 0 0;
    border-radius: 0 0 10px;
    height: 100px;
    width: 260px;
	color:white;
	font-size:26px;
}
#sidebar ul li:hover{
	background:white;
	
}
#sidebar ul li a:hover{
	color:blue;
}
#name h3{
	font:italic small-caps bold 30px Georgia, sans-serif;
	margin-top:30px;
	color:black;
	text-shadow:0px 0px 10px brown;

}
#pp{
	
}
#pp img{
	width:100%;
	border:4px solid white;
	
}
#details p{
	margin-left:10px;
	font-size:14px;
}
#buttons{
	
}
#buttons>.btn{
	margin-top:30px;
}
#main_content{
	height:100%;
	background:white;
	width:800px;
}
#wrapper{
	min-height:100%;
	position:relative;
	
}
.footer{
	background:#2F2D2E;
	color:white;
	height:50px;
	line-height:50px;
	bottom:0;
	width:100%;
	display:block;
	
	bottom:0px;
}
.maincontent_addpost {
    margin-bottom: 30px;
    margin-left: 250px;
    padding: 5px 10px 70px 25px;
}